.cardsContainer{
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas con el mismo tamaño */
    grid-gap: 20px;
    flex-direction: row;
    border-radius: 15px;
    flex-wrap: wrap;
}