.cardsContainer{
    margin: 0;
    width: 100%;
    margin: 20px 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.Pagination{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Pagination button{
    width: 20px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
    border: none;
}

.Pagination span{
    color: rgba(214, 12, 12, 0.508);
}